{% extends 'base.html.twig' %}

{% block nav %}
{% if game is defined and game is not null and game.startdate is not null and game.enddate is null %}
    <p>There is an ongoing game at this moment.Please finish it to start a new one.</p>
{% else %}
    <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#newgame">
        <i class="fas fa-th"></i> New Game
    </button>
{% endif %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
             {% include 'default/messages.html.twig' %} 
        </div>
    </div>
    {% if game is defined and game is not null and game.startdate is not null %}
        <div class="row d-flex justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="mt-1 mb-4 text-left"><i class="fas fa-th"></i> Board</h2>
                {{ include('board/_board.html.twig', {board: game.board}) }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h2 class="mt-1 mb-4"><i class="fas fa-user-friends"></i> Players</h2>
                {{ include('game/_game_players.html.twig', {game: game}) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modal %}
        {{ render(controller('App\\Controller\\GameController::new',{ 'modal': true })) }} 
{% endblock %}
