<div class="modal fade" id="new-game" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        {{ include('game/_form.html.twig') }}
    </div>
</div>
